<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="lin" class="sml.instructions.LinInstruction">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="add" class="sml.instructions.AddInstruction">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="bnz" class="sml.instructions.BnzInstruction">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="div" class="sml.instructions.DivInstruction">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="mul" class="sml.instructions.MulInstruction">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="out" class="sml.instructions.OutInstruction">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="sub" class="sml.instructions.SubInstruction">
        <!-- collaborators and configuration for this bean go here -->
    </bean>


<!--    <bean id="label" ="sml.instructions.LinInstruction.label">-->
<!--        &lt;!&ndash; collaborators and configuration for this bean go here &ndash;&gt;-->
<!--    </bean>-->

    <!-- more bean definitions go here -->

</beans>